@page "/"
@using cssProject.Pages.Sale
@inject NavigationManager NavManager;

<div class="navigation-bar">
    <div class="container py-3">
        <!-- ----Navbar---- -->

        <div class="d-md-flex align-items-center justify-content-between">
            <div>
                <img src="../Images/logo.png" alt="logo" />
            </div>

            <div class="mt-3 mt-lg-0 mt-md-0 nav-btns">
                <!-- <a href="./Login/index.html"> -->
                <button class="global-btn-bg">
                    <span>
                        <img src="../Images/loginBtnIcon.png" alt="loginIcon" />
                    </span>
                    Log In
                </button>
                <!-- </a> -->
                <!-- <a href="./SignUpAndLogin/index.html"> -->
                <button class="global-btn-bg">
                    <span>
                        <img src="../Images/signupBtnIcon.png" alt="loginIcon" />
                    </span>
                    Sign Up
                </button>
                <!-- </a> -->
            </div>
        </div>
    </div>
</div>



<div class="navigation-bar">
    <div class="container py-3">
        <!-- ----Navbar---- -->

        <div class="d-md-flex align-items-center justify-content-between">
            <div>
                <img src="../Images/logo.png" alt="logo" />
            </div>

            <div class="mt-3 mt-lg-0 mt-md-0 nav-btns">
                <!-- <a href="./Login/index.html"> -->
                <button class="global-btn-bg" @onclick="SaleInvoicePage">
                    
                    Sale Invoice
                </button>
                <!-- </a> -->
                <!-- <a href="./SignUpAndLogin/index.html"> -->
                <button class="global-btn-bg">
                    <span>
                        <img src="../Images/signupBtnIcon.png" alt="loginIcon" />
                    </span>
                    Sign Up
                </button>
                <!-- </a> -->
            </div>
        </div>
    </div>
</div>
<!-- ------BANNER------- -->
<section class="hero-banner">
    <div class="container text-white text-center">
        <h1>APPLIED SOFTWARE HOUSE</h1>
        <p class="m-0">
            Presents an Accounting, Stock and Payroll integrated systems in just
            Pakistani Rs. 5,000/- per month.
            <span class="d-lg-block">
                WhatsApp: +92 (336) 2454 230, Telegram: aamirjk2000 or
                Email: aamir@jahangir.com
            </span>
        </p>
    </div>
</section>

<!-- -------ACCOUNTING SECTIO------ -->
<section class="accounting-main">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="inner d-flex flex-column justify-content-center">
                    <img src="../Images/accounting1.png"
                         alt="acc1"
                         class="img-fluid" />
                    <h5 class="m-0 pt-2 text-theme fw-bold">
                        Accounts Management Softwares
                    </h5>
                    <div class="pt-3">
                        <p class="m-0 widh-75">
                            Applied Accounts provides you complete accounting system in
                            easy and efficiency way.
                        </p>
                    </div>

                    <button class="global-btn mt-4">More Details</button>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="inner d-flex flex-column justify-content-center">
                    <img src="../Images/accounting2.png"
                         alt="acc1"
                         class="img-fluid" />
                    <h5 class="m-0 pt-2 text-theme fw-bold">
                        Inventory Management System
                    </h5>
                    <div class="pt-3">
                        <p class="m-0 widh-75">
                            Manage and control of stock inventory integrated with
                            accounting system
                        </p>
                    </div>

                    <button class="global-btn mt-4">More Details</button>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="inner d-flex flex-column justify-content-center">
                    <img src="../Images/accounting3.png"
                         alt="acc1"
                         class="img-fluid" />
                    <h5 class="m-0 pt-2 text-theme fw-bold">
                        Customer Relationship Management
                    </h5>
                    <div class="pt-3">
                        <p class="m-0 widh-75">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text
                        </p>
                    </div>

                    <button class="global-btn mt-4">More Details</button>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="inner d-flex flex-column justify-content-center">
                    <img src="../Images/accounting4.png"
                         alt="acc1"
                         class="img-fluid" />
                    <h5 class="m-0 pt-2 text-theme fw-bold">Taxation</h5>
                    <div class="pt-3">
                        <p class="m-0 widh-75">
                            We provide submittion on monthly Sales Tax Return (GST/SRB) &
                            Annual Income Tax Return (FBR)
                        </p>
                    </div>

                    <button class="global-btn mt-4">More Details</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- --------TESTIMONIAL--------- -->
<section class="testimonial-main">
    <div class="container py-5">
        <h3 class="text-center text-theme-dark">
            Our <span class="d-lg-block">Clients</span>
        </h3>
        <div class="row pt-4 justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="inner text-white p-3 p-lg-5 p-md-5">
                    <h3>Company 1</h3>
                    <p class="m-0 pt-2 line-height">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy
                        text
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="inner text-white p-3 p-lg-5 p-md-5">
                    <h3>Company 2</h3>
                    <p class="m-0 pt-2 line-height">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy
                        text
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="inner text-white p-3 p-lg-5 p-md-5">
                    <h3>Company 3</h3>
                    <p class="m-0 pt-2 line-height">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy
                        text
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ----FOOTER----- -->
<section class="footer-main bg-black text-white">
    <div class="container py-3">
        <div class="addres-box d-md-flex align-items-center justify-content-between">
            <span>© 2024 - Applied Software House ABOUT US</span>
            <span>©All Rights Reserved Jahangir.com</span>
        </div>
    </div>
</section>

@* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script> *@